body[id='teachers_new'], [id='teachers_create'], [id='teachers_edit'], [id='teachers_update']
{
  .image-uploader > a > img {
    border-radius: 0px;
    width: 150px;
    height: auto;
  }

  .control-label {
    margin-top: 10px;
    margin-right: 0px;
    width: 150px;
  }

  .image-uploader [type=file]{
    display: none;
  }

  #map-teacher {
    height: 830px;
    margin-bottom: 15px;
    border-radius: 10px;
  }
}