.col-xs-12.col.md-12
  .card

    .header
      %h4.title Edit Student
      %hr

    .content
      = render 'form'

    %hr
    .footer

      = link_to students_path, class: 'btn btn-default' do
        %i.fa.fa-chevron-left  
        Back
      = link_to @student, class: 'btn btn-info btn-fill' do
        %i.fa.fa-eye
        Show
    %br